@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    user-select: none;
}

header {
    box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.1);
    z-index: 1;
}

footer {
    box-shadow: 0px -1px 5px 5px rgba(0,0,0,0.1);
    z-index: 1;
}

main {
    background-image: linear-gradient(to right, #000000 ,#FFFFFF);
    cursor: pointer;
}

.color-code-first,
.color-code-second {
    font-family: 'Fira Code', monospace;
    font-size: 1.2em;
    letter-spacing: 2px;
    outline: none;
    cursor: default;
}

.btn,
.arrow-icon {
    width: 3em;
}